@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');


:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.3);
  --mainGray:#fafafa;
  --darkGray:#5f5e5e;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing:0.3rem;
}
.text-title{
  font-family: 'Grenze Gotisch',cursive;
  font-weight:bold ;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
text-main{
  color: var(--primaryColor);
}
body{
  font-family: 'Grenze Gotisch',cursive;
  background: var(--mainGray) !important;
  color:black !important;
}


.main-link{
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color:var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--mainWhite);
  outline-offset: 2px;
  text-decoration: none;
}

.main-link:hover{
  background: var(--darkGray);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGray);
}