@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');


:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.3);
  --mainGray:#fafafa;
  --darkGray:#5f5e5e;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing:0.3rem;
}
.text-title{
  font-family: 'Grenze Gotisch',cursive;
  font-weight:bold ;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
text-main{
  color: var(--primaryColor);
}
body{
  font-family: 'Grenze Gotisch',cursive;
  background: var(--mainGray) !important;
}